<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.homework.AddbookMapper">

    <resultMap type="com.ruoyi.system.homework.AddbookMapper" id="AddbookResult">
    </resultMap>


</mapper>
